STATIC_PATH_REPERTOIRE_COMMUNES_OFS=
STATIC_PATH_ISSUE_SOLUTION_SGRF=


FEEDBACK_COMMUNES_URL_FEEBDACK_CANTON=https://www.housing-stat.ch/files/Listes_cantons/Listes_NE.xlsx
FEEDBACK_COMMUNES_URL_ISSUE_22_CANTON=https://data.geo.admin.ch/ch.bfs.gebaeude_wohnungs_register/address/NE/NE_bdg_extension.xlsx
FEEDBACK_COMMUNES_URL_CONSULTATION_ISSUE_22_SITN_COORD=https://sitn.ne.ch/theme/cadastre?lang=fr&baselayer_ref=blank&tree_group_layers_gp_photos_360=&tree_group_layers_gp_main=&theme=cadastre&tree_group_layers_gp_cadastre_general=batiments_ofs&map_x={}&map_y={}&map_zoom=12&map_crosshair=true&tree_groups=gp_cadastre_general%2Cgp_mo_cadastre%2Cgp_mo_3d%2Cgp_plan_historique%2Cgp_base_layers_cadastre&tree_group_layers_gp_mo_cadastre=mo7_obj_divers_souterrain%2Cmo23_batiments_projetes_total_libre%2Cmo22_batiments&tree_group_layers_gp_mo_3d=&tree_group_layers_gp_plan_historique=&tree_enable_ortho2020=false
FEEDBACK_COMMUNES_WORKING_DIR=
FEEDBACK_COMMUNES_OUTPUT_DIR=

